﻿@model Web.ViewModels.TaskBoardViewModel

@{
    ViewBag.Title = "TaskBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" id="taskBoardContainer" data-change-done-state-url="@Url.Action("ChangeDoneState","Home")">
    <div class="row">
        <div class="col-xs-12">
            <h2>TaskBoard</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 20px;">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addTaskModal">Добавить</button>
        </div>
    </div>

    <div>
        @foreach (var task in Model.Tasks)
        {
            Html.RenderPartial("Task", task);
        }
    </div>

    <div class="row">
        <div class="col-xs-12">
            <nav>
                <ul class="pagination">
                    @foreach (var pageElement in Model.Pagings)
                    {
                        Html.RenderPartial("PageElement", pageElement);
                    }
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("TaskStatesInfo", Model.TaskStatesInfo)
        </div>
    </div>
</div>

<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Добавить задачу</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("TaskDialog")
            </div>
            <div class="modal-footer">
                <button id="addTask" type="button" class="btn btn-primary" data-url="@Url.Action("CreateTask","Home")">Добавить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Редактировать задачу</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="TaskId"/>
                @Html.Partial("TaskDialog")
            </div>
            <div class="modal-footer">
                <button id="editTask" type="button" class="btn btn-primary" data-url="@Url.Action("EditTask","Home")">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/app/index.js")"></script>