﻿@using Web.Definitions
@model Web.Models.PagingElement

@switch (Model.Type)
{
    case PagingElementType.PreviousPage:
        <li><a href="@Model.Url" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        break;
    case PagingElementType.NextPage:
        <li><a href="@Model.Url" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        break;
    case PagingElementType.Separator:
        <li><span aria-hidden="true">...</span></li>
        break;
    case PagingElementType.CertainPage:
        if (Model.IsCurrentPage)
        {
            <li class="active"><span>@Model.PageNumber</span></li>
        }
        else
        {
            <li><a href="@Model.Url">@Model.PageNumber</a></li>
        }
        break;
}