﻿<div class="row" style="margin-bottom: 20px">
    <div class="col-xs-12">
        <div class="input-group">
            <span class="input-group-addon">
                @Html.CheckBox("IsDone")
            </span>
            @Html.TextBox("Description", null, new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="input-group date dateTimePicker" id="executionDateTimePicker">
            <input id="ExecutionDateTime" name="ExecutionDateTime" type="text" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>