﻿@using Domain.Definitions
@model Web.ViewModels.TaskViewModel

@functions {
    private string GetTaskClass(TaskState state)
    {
        switch (state)
        {
            case TaskState.Done:
                return "text-success";
            case TaskState.FutureScheduled:
                return "text-muted";
            case TaskState.Overdue:
                return "text-danger";
            case TaskState.TodayScheduled:
                return "text-primary";
            default:
                return "";
        }
    }

}

<div class="row task-row">
    <div class="col-xs-12">
        <input id="TaskId" type="hidden" value="@Model.Id" />
        <div class="task-done-checkbox">
            @Html.CheckBox("IsDone", Model.IsDone, new {@class = "js-done-checkbox"})
        </div>
        <div class="task-info">
            <div>
                <span>@Model.Description</span>
            </div>
            <div style="display: inline-block">
                <span class="@GetTaskClass(Model.State)">@Model.ExecutionDateTime</span>
            </div>
        </div>
            <button class="edit-task glyphicon glyphicon-pencil" data-url="@Url.Action("EditTask","Home")"></button>
    </div>
</div>