﻿@model Web.ViewModels.TaskStatesInfoViewModel

<div>
    <span class="text-success">@Model.DonePercent%</span>
</div>
<div>
    <span class="text-muted">@Model.FutureScheduledPercent%</span>
</div>
<div>
    <span class="text-primary">@Model.TodayScheduledPercent%</span>
</div>
<div>
    <span class="text-danger">@Model.OverduePercent%</span>
</div>