﻿<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", false)
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css"/>
        <link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css"/>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>
        <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
