﻿.task-done-checkbox {
    display: inline-block;
    vertical-align: top;
}

.task-info {
    display: inline-block;
}

.task-row {
    margin-bottom: 15px;
}

.edit-task {
    vertical-align: top;
}